<form action="/cart" method="post">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <input type="hidden" name="productPrice" value="<%= product.price %>">
    <button class="btn" type="submit">Add to Cart</button>
</form>